.bars{
    display: flex;
    flex-direction: row;
    margin: 24px 70px 24px 70px;
}
.bar{
    border: 3px solid #EAEAF4;
    border-radius: 20px;
    width: 33%;
}

.bar-red{
    border-color: #F79682;
}
.bar-yellow{
    border-color: #F7BC1C;
}
.bar-green{
    border-color: #1FE6A8;
}

.bar:nth-child(2){
    margin: 0px 8px;
}
.rules{
    margin: 24px 70px 24px 70px;
    color: #696D8C;
    text-align: left;
    list-style-type: none;
    padding: 0px;
}
.rule{
    font-size: 16px;
    color: #696D8C;
    line-height: 26px;
}
.rule:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #EAEAF4;
  border-radius: 50%;
  margin-bottom: 2px;
}
.rule-red:before {
  background-color: #F79682;
}
.rule-green:before {
  background-color: #1FE6A8;
}